.card {
    width: 350px;
    background-color: var(--background-color-gray);
}

@media (max-width: 400px) {
    .card {
        width: 300px;
        background-color: var(--background-color-gray);
    }
}

.card__image {
    width: inherit;
    height: 400px;
    margin-bottom: 20px;
}

.card__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card__name {
    font-size: 14px;
    text-align: center;
    margin: 15px 0;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: var(--primary-color);
}

.card__description {
    text-align: center;
    color: var(--primary-color);
    letter-spacing: 0.05em;
    font-size: 15px;
    margin-bottom: 20px;
}

.card__price {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 14px;
    width: 70px;
    height: 55px;
    margin: 0 0 10px 10px;
    background-color: var(--background-color-gold);
    font-weight: bold;
    color: var(--dark-color);
}