.header {
    display: flex;
    border-bottom: 1px solid lightgray;
    padding: 10px 0px;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    background-color: white;
    top: 0;
    z-index: 100;
}

.logo {
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
}

.logo div {
    font-size: 30px;
    text-transform: capitalize;
}

.logo, .ghost {
    flex: 0 0 100px;
}

.navbar {
    display: flex;
    gap: 30px;
    align-items: center;
}

.navbar-link {
    text-decoration: none;
    color: black;
    padding: 15px;
    font-size: 14px;
    white-space: nowrap;
}

@media (max-width: 700px) {
    .header {
        justify-content: space-between;
    }

    .ghost {
        display: none;
    }

    .logo {
        font-size: 8px;
    }

    .logo div {
        font-size: 21px;
    }

    .navbar {
        gap: 0px;
    }

    .navbar-link {
        font-size: 12px;
        padding: 10px 10px;
    }
}

.navbar-link:hover {
    background-color: rgb(235, 235, 235);
}