.info {
    width: 70%;
    margin: auto;
    margin-bottom: 3rem;
}

@media (max-width: 990px) {
    .info {
        width: 100%;
        padding: 0 17px;
    }
}

.info__heading {
    text-align: center;
    font-size: 1.625rem;
    text-transform: uppercase;
    font-weight: 700;
    padding-top: 3rem;
    margin-bottom: 3rem;
}

@media (max-width: 990px) {
    .info__heading {
        font-size: 22px;
    }
}

@media (max-width: 768px) {
    .info__heading {
        font-size: 16px;
    }
}

.info__content {
    display: flex;
}

@media (max-width: 1280px) {
    .info__content {
        flex-direction: column;
        align-items: center;
    }
}

.description {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
}

@media (max-width: 990px) {
    .description {
        width: 100%;
        padding: 0px;
    }
}

.description__heading {
    font-size: 1.625rem;
    text-transform: uppercase;
    text-align: center;
    font-weight: 400;
    letter-spacing: 0.05em;
    margin: 1rem 0;
}

@media (max-width: 990px) {
    .description__heading {
        font-size: 2.25rem;
    }
}

@media (max-width: 768px) {
    .description__heading {
        font-size: 1.125rem;
    }
}

.description__text {
    font-size: 14px;
    text-align: center;
    line-height: 21px;
    letter-spacing: 0.05em;
}

.description__button {
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    font-weight: 800;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    background-color: var(--background-color);
    padding: 20px 25px;
    border-radius: 14px;
    box-shadow: 0px 2px 2px lightgray;
}

.description__button:active {
    background-color: var(--background-color-hover);
    box-shadow: none;
}

.link {
    text-decoration: none;
}

.image {
    width: 50%;
}

@media (max-width: 1280px) {
    .image {
        order: -1;
        width: 710px;
        max-width: 100%;
    }
}

.image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}