.background {
    background-color: var(--background-color);
}

.info {
    margin: 0 auto;
    width: 77%;
}

@media (max-width: 1200px) {
    .info {
        margin: 0 auto;
        width: 90%;
    }
}

.image img {
    width: 100%;
    height: 600px;
    object-fit: cover;
}

@media (max-width: 950px) {
    .image img {
        height: 400px;
    }
}

@media (max-width: 700px) {
    .image img {
        height: 230px;
    }
}

.image, .social-media, .heading  {
    margin-bottom: 1.5rem;
}

.social-media {
    display: flex;
    align-items: center;
    gap: 20px;
}

.heading {
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

@media (max-width: 990px) {
    .heading {
        font-size: 22px;
    }
}

@media (max-width: 768px) {
    .heading {
        font-size: 16px;
    }
}

.description {
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.05em;
}

@media (max-width: 1520px) {
    .description {
        font-size: 14px;
        line-height: 28px;
    }
}

.paragraph {
    margin-bottom: 20px;
}

