.heading {
    width: 77%;
    margin: 30px auto;
    font-size: 2rem;
    font-weight: 500;
    text-transform: uppercase;
}

.menu-list {
    display: grid;
    grid-template-columns: repeat(4, auto);
    padding: 20px 0;
    justify-content: center;
    gap: 20px;
    padding: 1rem 0;
    background-color: var(--background-color);
}

@media (max-width: 1600px) {
    .menu-list {
        grid-template-columns: repeat(3, auto);
    }
}

@media (max-width: 1200px) {
    .menu-list {
        grid-template-columns: repeat(2, auto);
    }
}

.sort-box {
    display: flex;
    justify-content: end;
    width: 75%;
    margin: auto;
    margin-bottom: 1rem;
    position: relative;
}

.sort-box-clickable {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.sort-box-text {
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

@media (max-width: 800px) {
    .menu-list {
        grid-template-columns: auto;
    }

    .heading {
        font-size: 1rem;
    }

    .sort-box {
        justify-content: center;
    }

    .sort-box-text {
        font-size: 12px;
    }
}

.sort-box-text:hover {
    text-decoration: underline;
    color: var(--dark-color);
}

.sort-box-button {
    font-weight: 800;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    background-color: var(--background-color);
    padding: 10px 10px;
    box-shadow: 0px 2px 2px lightgray;
}

.sort-box-button:active {
    background-color: var(--background-color-hover);
    box-shadow: none;
}

.sort-dropdown {
  position: absolute;
  top: 60px;
  right: 0;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.15);
  z-index: 1;
  text-align: right;
  font-size: 1rem;
  cursor: pointer;
}

.sort-dropdown div {
    padding: 1rem;
    text-transform: uppercase;
}

.sort-dropdown div:hover {
    text-decoration: underline;
    color: var(--dark-color);
}