.description {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--background-color);
    padding: 60px;
}

.description__heading {
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 24px;
    white-space: nowrap;
}

.description__text {
    text-align: center;
    font-size: 1rem;
    width: 600px;
    margin-bottom: 24px;
    letter-spacing: 0.3px;
    line-height: 1.67;
}

@media (max-width: 768px) {
    .description__text {
        width: 280px;
        font-size: 0.75rem;
    }
}

.description__button {
    text-transform: uppercase;
    text-decoration: none;
    padding: 0.7rem 48px 6px;
    width: 500px;
    font-size: 1.25rem;
    background-color: transparent;
    font-weight: bold;
    border: solid 1px var(--primary-color);
    cursor: pointer;
}

@media (max-width: 990px) {
    .description__button {
        width: 400px;
        font-size: 1.375rem;
    }
}

@media (max-width: 768px) {
    .description__button {
        font-size: 0.75rem;
        width: auto;
        padding-top: 14px;
        padding-bottom: 14px;
    }
}

.description__button:hover {
    background-color: var(--primary-color);
    color: #fff;
}
