* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--primary-color);
}

:root {
  --primary-color: #5C4F49;
  --dark-color: #341F16;
  --background-color: #FAFAFA;
  --background-color-hover: #d9d9d9;
  --background-color-gold: #EFD2A7;
  --background-color-gray: #F5F5F5;
}

body {
  margin: 0;
}